h1 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h4 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h5 {
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

p {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
  }

.small-toolbar {
    height: 32px;
    padding: 0 16px;
    background-color: #FFC5CB;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }

.example-full-width {
    width: 450px;
  }
  
.agreement{
    font-size: 14px;
    justify-content: center;
    max-width: 490px;
    font-display:inherit;
    padding-left: 20px;
} 

.container-left {
    margin-top: 7%;
    margin-left: 10%;
    max-width: 600px;
}

.container-right {
    margin-top: 3%;
    margin-left:5%;
    max-width: 530px;
}

.container {
    display: flex;
    justify-content:inherit;
}

.link{
    color: blue;
    font-style: italic;
}

.mat-button-custom{
    background: #fff;
    border-radius: 50px;
    padding: 13px 35px;
    margin: 10px;
    border-bottom: 2px solid;
    border-color: linear-gradient(94.07deg, #F24E1E -17.78%, #0B2464 142.91%);
}

.mat-button-custom:hover {
    background-color: #FF5733;
    color: #ffffff;
}

.horizontal-inputs {
  align-items: flex-start;
  display: flex;
  gap: 3%;
}
  
.toolbar-container {
    border-radius: 10px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    top: 3%;
    border-bottom: 4px solid;
    border-color: orange;
}

.signupbutton {
    top: 5%;
    left: 170px;
    padding: 3px, 10px, 3px, 10px;
    border-radius: 10px;
    gap: 20px;
    }
    .spacer {
        margin-right: 10px;
    }
    
    .centered-nav {
        display: flex;
        justify-content: center;
        flex: 1 1 auto;
    }
    
    .sign-in-button {
        margin-right: 16px;
    }

.signin-button {
    color: black;
    border-radius: 50px;
}

h3 {
    font-size: 25px;
    margin-top: 100px;
    margin-left: 2%;
    font-weight: 800;
    color: #d7b94c;
}

.typewriter {
    position: relative;
    max-width: 650px;
    margin-left: 0%;
}

.typewriter::after {
    content: '|';
    position: absolute;
    right: 0;
    color: white;
    background-color: white;
    width: 100%;
    animation: typing 3s steps(14) alternate infinite,
        line 1s infinite;
}

@keyframes typing {
    to {
        width: 0%;
    }
}

@keyframes line {
    50% {
        color: transparent;
    }
}