<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
<div class="toolbar-container">
  <mat-toolbar>

    <!-- Company Name -->
    <span color="accent">HR Central</span>

    <!--space between Navigation Links -->
    <span class="spacer"></span>

    <!-- Navigation Links (Centered) -->
    <div class="centered-nav">
      <a class="mat-button-custom" mat-button routerLink="/">Product</a>
      <a class="mat-button-custom" mat-button routerLink="/pricing">Pricing</a>
      <a class="mat-button-custom" mat-button routerLink="/Resources">Services</a>
      <a class="mat-button-custom" mat-button routerLink="/help">Contact Us</a>
    </div>

    <!-- Sign In Button on the Right -->
    <button routerLink="/login" mat-raised-button color="accent" class="signin-button">Sign In</button>
  </mat-toolbar>
</div>
<div class="container">

  <!-- Left Content -->
  <div class="container-left">
    <h1>Unlock the Power of HR<br>Excellence with Bees HR</h1>
    <p>Our cutting-edge solutions simplify and streamline every
      aspect of your HR management, from recruitment to payroll.
      Discover how we empower your workforce for success.
    </p>
    <button class="signupbutton" mat-raised-button color="primary">SIGN UP FOR FREE</button>
    <h3 class="typewriter">Just 3 Steps ahead to unlock the free access</h3>
  </div>

  <!-- Right Content -->
  <div class="container-right">
    <h4>Start your no-obligation trial period today and explore our services at no cost</h4>
    <mat-toolbar class="small-toolbar">
      <h5>Exclusively for 14 days</h5>
    </mat-toolbar>

    <!-- Right Content -->
    <div class="message-column">
      <mat-card class="message-card">
        <mat-card-content class="login-form">
          <form [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">
            <table>
              <tr>
                <mat-form-field class="example-full-width">
                  <mat-label>Your Name</mat-label>
                  <input matInput formControlName="contact_person_name" required>
                </mat-form-field>
              </tr>
              <tr>
                <mat-form-field class="example-full-width">
                  <mat-label>Company Name</mat-label>
                  <input matInput formControlName="company_name" required>
                </mat-form-field>
              </tr>
              <tr>
                <div fxLayout="row" fxLayoutAlign="start center" class="horizontal-inputs">
                  <mat-form-field>
                    <mat-label>Company Email</mat-label>
                    <input matInput formControlName="email" required>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Contact Number</mat-label>
                    <input matInput formControlName="contact_number" required>
                  </mat-form-field>
                </div>
              </tr>
              <tr>
                <div fxLayout="row" fxLayoutAlign="start center" class="horizontal-inputs">
                  <!-- <mat-form-field>
                    <mat-label>Number of Employees</mat-label>
                    <mat-select formControlName="no_of_employees">
                      <mat-option *ngFor="let option of noofemployees" [value]="option.list">
                        {{ option.number }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->

                  <mat-form-field>
                    <mat-label>Number of Employees</mat-label>
                    <select formControlName="no_of_employees" matNativeControl>
                      <option value=">5">>5</option>
                      <option value="5-10">5-10</option>
                      <option value="11-20">11-20</option>
                      <option value="20-50">20-50</option>
                    </select>
                  </mat-form-field>

                  <!-- <mat-form-field>
                    <mat-label>How do you know us?</mat-label>
                    <mat-select formControlName="how_do_you_know_us">
                      <mat-option *ngFor="let option of howdoyouknow" [value]="option.value">
                        {{ option.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->

                  <mat-form-field>
                    <mat-label>How do you know us?</mat-label>
                    <select formControlName="how_do_you_know_us" matNativeControl>
                      <option value="social media">social media</option>
                      <option value="Website">Website</option>
                      <option value="Self">Self</option>
                      <option value="Recommended">Recommended</option>
                    </select>
                  </mat-form-field>
                </div>
              </tr>
<!-- Checkbox for agreement -->
<p class="agreement">
  We respect your privacy and will never sell your information. By clicking submit, I agree to Bees HR’s <a
    class="link" href="URL">Terms and conditions of Service</a>.</p>
<mat-checkbox formControlName="isActive" class="example-margin">We are happy to send you latest updates and news.</mat-checkbox>
              <!-- Sign up Button -->
                  <button type="submit" mat-raised-button color="primary">Submit</button>
            </table>
          </form>
        </mat-card-content>
      </mat-card>
      
    </div>
  </div>
</div>